/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
nav {
	background:#808080;
}

nav a {
	background-color:#ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

nav a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

body {
	text-align: center;
}

h1 {
	color: rgb(2, 132, 130);
}

h2 {
	color: #ffd700;
}

a {
	font-style: italic;
	text-decoration:none;
}

.board {
	display: inline-block;
	width: 50%;
	height: 50%;
}

.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background:yellow;
	border-radius: 10px;
	float: left;
	margin: 8%;
}

.name {
	color:red;
}

footer {
	text-align:center;
	background-color:#808080;
	margin: 0 auto;
}

p {
	margin: 0 auto;
}
